
#game-content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#stats {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.6em 1em;
    border-width: 0;
    border-radius: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
}

@media screen and (max-width: 1000px) {

}
