html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

h3 {
    font-weight: 500;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: min-content; 
}

@media (max-width: 768px) {
    html {font-size: 12px;}
}

@media (max-width: 1224px) {
    html {font-size: 14px;}
}
